{% set fsearch = salt['grains.filter_by']({
  'Windows': {
    'package': 'No fsearch target for this system',
    'installer': 'test.nop'
  },
  'MacOS': {
    'package': 'No fsearch target for this system',
    'installer': 'test.nop'
  },
  'Arch': {
    'package': 'This needs to be built and tested',
    'installer': 'test.nop'
  },
  'Debian': {
    'package': 'fsearch',
    'installer': 'pkg.installed'
  },
}, merge=salt['pillar.get']('fsearch:lookup')) %}
