{% set saltminion = salt['grains.filter_by']({
  'Windows': {
    'package': 'saltminion',
    'installer': 'chocolatey.installed',
    'service': 'salt-minion'
  },
  'MacOS': {
    'package': 'salt',
    'installer': 'pkg.installed',
    'service': 'com.saltstack.salt.minion',
    'plist_source': 'https://raw.githubusercontent.com/saltstack/salt/develop/pkg/darwin/com.saltstack.salt.minion.plist',
    'plist_hash': 'sha256=6383d2d336b06802bfdf25a4c21ee25c85ee9fa57d3ef5776321d9c8cd096395'
  },
  'Arch': {
    'package': 'salt',
    'installer': 'pkg.installed',
    'service': 'salt-minion'
  },
  'Debian': {
    'package': 'salt-minion',
    'installer': 'pkg.installed',
    'service': 'salt-minion'
  },
}, merge=salt['pillar.get']('salt-minion:lookup')) %}
