{% set chrome = salt['grains.filter_by']({
    'Windows': {
        'package': 'chrome',
        'installer': 'chocolatey.installed'
    },
    'MacOS': {
        'package': 'Caskroom/cask/google-chrome',
        'installer': 'pkg.installed'
    },
    'Arch': {
        'package': 'google-chrome',
        'installer': 'pkg.installed'
    },
}, merge=salt['pillar.get']('google-chrome:lookup')) %}
