{% set chrome = salt['grains.filter_by']({
  'Windows': {
    'package': 'GoogleChrome',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'homebrew/cask/google-chrome',
    'installer': 'pkg.installed'
  },
  'Arch': {
    'package': 'google-chrome',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi google-chrome'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S google-chrome --noconfirm'}
      ]
    },
    },
  'Debian': {
    'package': 'google-chrome',
    'installer': 'pkg.installed',
    'channel': 'stable'
  },
}, merge=salt['pillar.get']('google-chrome:lookup')) %}
