{% set nvm = salt['grains.filter_by']({
    'Windows': {
        'package': 'nodist',
        'installer': 'chocolatey.installed',
        'startup': ''
    },
    'MacOS': {
        'package': 'nvm',
        'installer': 'pkg.installed',
        'startup': '|
          # NVM
          export NVM_DIR=~/.nvm
          source $(brew --prefix nvm)/nvm.sh
          '
    },
    'Arch': {
        'package': 'nvm',
        'installer': {
          'cmd.run': [
            {'unless': 'pacman -Qi nvm'},
            {'runas': 'pacaur-builder'},
            {'name': 'pacaur -S nvm --noconfirm --noedit'}
          ]
        },
        'startup': 'source /usr/share/nvm/init-nvm.sh'
    },
}, merge=salt['pillar.get']('nvm:lookup')) %}
