{% set user = salt['pillar.get']('users:primary-user') %}
{% set nvm = salt['grains.filter_by']({
  'Windows': {
    'package': 'nodist',
    'installer': 'chocolatey.installed',
    'startup': '|
      # nodist only needs sourcing in cygwin
      '
  },
  'MacOS': {
    'package': 'nvm',
    'installer': 'pkg.installed',
    'startup': 'export NVM_DIR=~/.nvm && source $(brew --prefix nvm)/nvm.sh # NVM',
    'user': user
  },
  'Arch': {
    'package': 'nvm',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi nvm'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S nvm --noconfirm'}
      ]
    },
    'startup': 'source /usr/share/nvm/init-nvm.sh'
  },
  'default': {
    'package': 'nvm',
    'installer': {
      'cmd.script': [
        {'unless': 'test -f ${HOME}/.nvm/nvm.sh'},
        {'runas': user},
        {'source': 'salt://app/nvm/nvm_dl_and_run_installer.sh'},
        {'env': [
          { 'PROFILE': '/dev/null' },
        ]}
      ]
    },
    'startup': 'source ~/.nvm/nvm.sh',
    'user': user
  },
}, merge=salt['pillar.get']('nvm:lookup'), default='default') %}
