{% set nvm = salt['grains.filter_by']({
    'Windows': {
        'package': 'nodist',
        'installer': 'chocolatey.installed',
        'home': 'C:/Users/',
        'startup': ''
    },
    'MacOS': {
        'package': 'nvm',
        'installer': 'pkg.installed',
        'home': '/Users/',
        'startup': '|
          # NVM
          export NVM_DIR=~/.nvm
          source $(brew --prefix nvm)/nvm.sh
          '
    },
    'Linux': {
        'package': 'nvm',
        'installer': 'pkg.installed',
        'home': '/home/',
        'startup': ''
    },
}, merge=salt['pillar.get']('nvm:lookup')) %}
