{% set config = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'lens': 'chocolatey.installed'
    }
  },
  'MacOS': {
    'installer': {
      'homebrew/cask/lens': 'pkg.installed'
    }
  },
  'Arch': {
    'installer': {
      'lens': {
        'cmd.run': [
          {'unless': 'pacman -Qi lens'},
          {'runas': 'aur-builder'},
          {'name': 'yay -S lens --noconfirm'}
        ]
      }
    }
  },
}, merge=salt['pillar.get']('lens:lookup')) %}
