{% set config = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'freelens': 'chocolatey.installed'
    }
  },
  'MacOS': {
    'installer': {
      'homebrew/cask/freelens': 'pkg.installed'
    }
  },
  'Arch': {
    'installer': {
      'lens': {
        'cmd.run': [
          {'unless': 'pacman -Qi freelens-bin'},
          {'runas': 'aur-builder'},
          {'name': 'yay -S freelens-bin --noconfirm'}
        ]
      }
    }
  },
}, merge=salt['pillar.get']('lens:lookup')) %}
