{% set dropbox = salt['grains.filter_by']({
  'Windows': {
      'package': 'dropbox',
      'installer': 'chocolatey.installed'
  },
  'MacOS': {
      'package': 'Caskroom/cask/dropbox',
      'installer': 'pkg.installed'
  },
  'Arch': {
    'package': 'dropbox',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi dropbox'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S dropbox --noconfirm'}
      ]
    },
  }
}, merge=salt['pillar.get']('dropbox:lookup')) %}
