{% set dropbox = salt['grains.filter_by']({
  'Windows': {
      'package': 'dropbox',
      'installer': 'chocolatey.installed'
  },
  'MacOS': {
      'package': 'Caskroom/cask/dropbox',
      'installer': 'pkg.installed'
  },
  'Arch': {
      'package': 'dropbox',
      'installer': {
        'cmd.run': [
          {'unless': 'pacman -Qi dropbox'},
          {'runas': 'pacaur-builder'},
          {'name': 'pacaur -S dropbox --noconfirm --noedit'}
        ]
      },
  }
},salt['pillar.get']('dropbox:lookup')) %}
