{% set rdp = salt['grains.filter_by']({
    'Windows': {
        'package': 'builtin',
        'installer': 'test.nop'
    },
    'MacOS': {
        'package': 'Caskroom/cask/microsoft-remote-desktop-beta',
        'installer': 'pkg.installed'
    },
    'Arch': {
        'package': 'remmina',
        'installer': {
          'cmd.run': [
            {'unless': 'pacman -Qi remmina-plugin-rdesktop'},
            {'runas': 'pacaur-builder'},
            {'name': 'pacaur -S remmina remmina-plugin-rdesktop --noconfirm --noedit'}
          ]
        },
}, merge=salt['pillar.get']('microsoft-remote-desktop:lookup')) %}
