{% set rdp = salt['grains.filter_by']({
  'Windows': {
      'package': 'builtin',
      'installer': 'test.nop'
  },
  'MacOS': {
      'package': 'Caskroom/versions/microsoft-remote-desktop-beta',
      'installer': 'pkg.installed'
  },
  'Arch': {
      'package': 'remmina',
      'installer': {
        'cmd.run': [
          {'unless': 'pacman -Qi remmina-plugin-rdesktop'},
          {'runas': 'aur-builder'},
          {'name': 'yay -S remmina remmina-plugin-rdesktop --noconfirm'}
        ]
      },
  },
}, merge=salt['pillar.get']('microsoft-remote-desktop:lookup')) %}
