{% set pipewire = salt['grains.filter_by']({
  'default': {
    'main': {
      'installer': 'test.nop'
    },
    'wireplumber': {
      'installer': 'test.nop'
    },
  },

  'Debian': {
    'main': {
      'installer': {
        'pkg.installed': [
          {
            'pkgs': [
              'pipewire',
              'pipewire-audio-client-libraries',
              'pipewire-bin',
              'pipewire-doc',
              'pipewire-libcamera',
              'pipewire-pulse',
              'pipewire-v4l2',
              'gstreamer1.0-pipewire',
              'libspa-0.2-bluetooth',
              'libopenaptx0',
            ]
          },
        ],
      },
    },
    'wireplumber': {
      'installer': {
        'pkg.installed': [
          {
            'pkgs': [
              'wireplumber',
              'wireplumber-doc',
              'gir1.2-wp-0.4',
            ]
          },
        ],
      },
    },
  },
}, merge=salt['pillar.get']('pipewire:lookup'), default='default') %}
