{% set git = salt['grains.filter_by']({
    'Windows': {
        'package': 'git',
        'installer': 'chocolatey.installed'
    },
    'MacOS': {
        'package': 'git',
        'installer': {
          'pkg.installed': [
            {
              'pkgs': [
                'git',
                'git-lfs',
                'git-flow-avh'
              ],
            },
          ]
        }
    },
    'Arch': {
        'package': 'git',
        'installer': {
          'cmd.run': [
            {'unless': 'pacman -Qi git-lfs'},
            {'runas': 'aur-builder'},
            {'name': 'yay -S git git-lfs gitflow-avh --noconfirm'}
          ]
        }
    },
}, merge=salt['pillar.get']('git:lookup')) %}
