{% set azuredatastudio = salt['grains.filter_by']({
    'Windows': {
      'package': 'azure-data-studio',
      'installer': 'chocolatey.installed',
      'binary': 'azuredatastudio',
    },
    'MacOS': {
      'package': 'homebrew/cask/azure-data-studio',
      'installer': 'pkg.installed',
      'binary': '/usr/local/bin/azuredatastudio',
    },
    'Arch': {
      'package': 'azuredatastudio',
      'installer': {
        'cmd.run': [
          {'unless': 'pacman -Qi azuredatastudio'},
          {'runas': 'aur-builder'},
          {'name': 'yay -S azuredatastudio --noconfirm'}
        ]
      },
      'binary': '/usr/bin/azuredatastudio',
    },
}, merge=salt['pillar.get']('azuredatastudio:lookup')) %}
