{% set azuredatastudio = salt['grains.filter_by']({
  'Windows': {
    'package': 'azure-data-studio',
    'installer': 'chocolatey.installed',
    'binary': 'azuredatastudio',
  },
  'MacOS': {
    'package': 'homebrew/cask/azure-data-studio',
    'installer': 'pkg.installed',
    'binary': '/usr/local/bin/azuredatastudio',
  },
  'Arch': {
    'package': 'azuredatastudio',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi azuredatastudio-bin'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S azuredatastudio-bin --noconfirm'}
      ]
    },
    'binary': '/usr/bin/azuredatastudio',
  },
  'default': {
    'package': 'No azure-data-studio target for this system',
    'installer': 'test.nop',
    'binary': '/usr/bin/true'
  }
}, merge=salt['pillar.get']('azuredatastudio:lookup'), default='default') %}
