{% set java = salt['grains.filter_by']({
    'Windows': {
        'package': 'jdk8',
        'installer': 'chocolatey.installed'
    },
    'MacOS': {
      'package': 'Caskroom/versions/java8',
      'installer': {
        'pkg.installed': [
          {
            'require': [
              {'sls': 'app/magic-sudo'}
            ]
          }
        ]
      }
    },
    'Arch': {
        'package': 'jdk8-openjdk',
        'installer': 'pkg.installed',
    },
}, merge=salt['pillar.get']('java:lookup')) %}
