{% set conemu = salt['grains.filter_by']({
    'Windows': {
      'installer': {
        'conemu': 'chocolatey.installed'
      }
    'MacOS': {
      'installer': {
        'Conemu is Windows only': 'test.nop'
      }
    'Arch': {
      'installer': {
        'Conemu is Windows only': 'test.nop'
      }
}, merge=salt['pillar.get']('conemu:lookup')) %}
