{% set conemu = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'conemu': 'chocolatey.installed'
    }
  },
  'Default': {
    'installer': {
      'Conemu is Windows only': 'test.nop'
    }
  },
}, merge=salt['pillar.get']('conemu:lookup'), default='Default') %}
