{% set filezilla = salt['grains.filter_by']({
  'Windows': {
    'package': 'filezilla',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'Removed from Homebrew as it was deemed evil',
    'installer': 'test.nop'
  },
  'Arch': {
    'package': 'filezilla',
    'installer': 'pkg.installed',
  },
  'Debian': {
    'package': 'filezilla',
    'installer': 'pkg.installed',
  },
}, merge=salt['pillar.get']('filezilla:lookup')) %}
