{% set netextender = salt['grains.filter_by']({
  'Windows': {
    'package': 'NetExtender requires manual installation',
    'installer': 'test.nop'
  },
  'MacOS': {
    'package': 'NetExtender requires manual installation',
    'installer': 'test.nop'
  },
  'Arch': {
    'package': 'netextender',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi netextender'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S netextender --noconfirm'}
      ]
    }
  },
}, merge=salt['pillar.get']('netextender:lookup')) %}
