{% set clementine = salt['grains.filter_by']({
    'Windows': {
      'package': 'clementine',
      'installer': 'chocolatey.installed'
    },
    'MacOS': {
      'package': 'Caskroom/cask/clementine',
      'installer': 'pkg.installed'
    },
    'Arch': {
      'package': 'clementine',
      'installer': 'pkg.installed'
    },
}, merge=salt['pillar.get']('clementine:lookup')) %}
