{% set config = salt['grains.filter_by']({
  'Windows': {
    'package': 'wsl',
    'installer': 'chocolatey.installed'
  },
  'default': {
    'package': 'WSL is Windows only',
    'installer': 'test.nop'
  },
}, merge=salt['pillar.get']('wsl:lookup'), default='default') %}
