{% set user = salt['pillar.get']('users:primary-user') %}
{% set userInfo = salt['user.info'](user) %}
{% set eclipse = salt['grains.filter_by']({
  'Windows': {
    'package': 'eclipse',
    'installer': 'chocolatey.installed',
    'binary': 'c:\program files\Eclipse*\eclipse\eclipse.exe',
    'packageLocation': userInfo.home + '/.eclipse/'
  },
  'MacOS': {
    'package': 'homebrew/cask/eclipse-jee',
    'installer': 'pkg.installed',
    'binary': '/Applications/Eclipse\ JEE.app/Contents/MacOS/eclipse',
    'packageLocation': '/Applications/Eclipse\ JEE.app/Contents/'
  },
  'Arch': {
    'package': 'eclipse-jee',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi eclipse-jee'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S eclipse-jee --noconfirm'}
      ]
    },
    'binary': '/usr/bin/eclipse',
    'packageLocation': userInfo.home + '/.eclipse/'
  },
}, grain='os_family', merge=salt['grains.filter_by']({
  'Ubuntu': {
    'package': 'eclipse',
    'installer': {
      'cmd.run': [
        {'unless': 'which eclipse'},
        {'name': 'snap install eclipse --classic'}
      ]
    },
    'binary': '/snap/bin/eclipse',
    'packageLocation': userInfo.home + '/snap/eclipse/current/'
  },
}, grain='os', merge=salt['pillar.get']('eclipse:lookup'))) %}
