{% set awsvpnclient = salt['grains.filter_by']({
  'Windows': {
    'package': 'awsvpnclient-tbd',
    'installer': 'test.nop'
  },
  'MacOS': {
    'package': 'awsvpnclient-tbd',
    'installer': 'test.nop'
  },
  'Arch': {
    'package': 'awsvpnclient',
    'installer': 'test.nop'
  }
}, grain="os_family", merge=salt['grains.filter_by']({
  'Ubuntu': {
    'package': 'awsvpnclient',
    'installer': {
      'pkg.installed': [
        {
          'pkgs': [
            'awsvpnclient',
          ],
          'sources': [
            'http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb',
          ]
        },
      ],
    },
}, grain='os', merge=salt['pillar.get']('awsvpnclient:lookup'))) %}
