{% set sublime = salt['grains.filter_by']({
    'Windows': {
        'package': 'sublime-text',
        'installer': 'chocolatey.installed',
    },
    'MacOS': {
        'package': 'Caskroom/cask/sublime-text',
        'installer': 'pkg.installed',
    },
    'Arch': {
        'package': '.archlinux',
        'installer': 'include',
    },
}, merge=salt['pillar.get']('sublime:lookup')) %}
