{% set azurecli = salt['grains.filter_by']({
  'Windows': {
    'package': 'azure-cli',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'azure-cli',
    'installer': 'pkg.installed'
  },
  'Arch': {
    'package': 'azure-cli',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi azure-cli'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S azure-cli --noconfirm'}
      ]
    },
  },
  'Ubuntu': {
    'package': 'azure-cli',
    'installer': {
      'cmd.run': [
        {'unless': 'which az'},
        {'name': 'curl -sL https://aka.ms/InstallAzureCLIDeb | bash'}
      ]
    },
  },
}, merge=salt['pillar.get']('azurecli:lookup')) %}
