{% set wezterm = salt['grains.filter_by']({
  'Windows': {
    'installer': 'chocolatey.installed',
    'pkgs': [
      'wezterm'
      ]
  },
  'MacOS': {
    'installer': {
      'pkg.installed': [
        {
          'pkgs': [
            'wezterm'
          ]
        },
      ],
    },
  },
  'Arch': {
    'installer': {
      'pkg.installed': [
        {
          'pkgs': [
            'wezterm',
            'ttf-nerd-fonts-symbols-mono'
          ]
        },
      ],
    },
  },
  'Debian': {
    'installer': {
      'pkgrepo.managed': [{
        'name': 'deb [signed-by=/etc/apt/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez/ * *',
        'file': '/etc/apt/sources.list.d/wezterm.list',
        'key_url': 'https://apt.fury.io/wez/gpg.key',
        'aptkey': False
      }],
      'pkg.installed': [
        {
          'pkgs': [
            'wezterm'
          ]
        },
      ],
    },
  },
}, merge=salt['pillar.get']('wezterm:lookup')) %}
