{% set mysqlworkbench = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'mysql.workbench': 'chocolatey.installed'
    }
  },
  'MacOS': {
    'installer': {
      'homebrew/cask/mysqlworkbench': 'pkg.installed'
    }
  },
  'Arch': {
    'installer': {
      'mysql-workbench': 'pkg.installed'
    }
  },
}, grain='os_family', merge=salt['grains.filter_by']({
  'Ubuntu': {
    'installer': {
      'mysql-workbench': 'pkg.installed'
    }
  },
}, grain='os', merge=salt['pillar.get']('mysql-workbench:lookup'))) %}
