{% set gitahead = salt['grains.filter_by']({
  'Windows': {
    'package': 'gitahead',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'homebrew/cask/gitahead',
    'installer': 'pkg.installed'
  },
  'Arch': {
    'package': 'gittyup',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi gittyup'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S gittyup --noconfirm'}
      ]
    }
  },
}, merge=salt['pillar.get']('gitahead:lookup')) %}
