{% set gitahead = salt['grains.filter_by']({
  'Windows': {
    'package': 'gittyup',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'homebrew/cask/gittyup',
    'installer': 'pkg.installed'
  },
  'Arch': {
    'package': 'gittyup',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi gittyup'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S gittyup --noconfirm'}
      ]
    }
  },
}, grain="os_family", merge=salt['grains.filter_by']({
  'Ubuntu': {
    'package': 'gitahead',
    'installer': 'test.nop'
  },

}, grain='os', merge=salt['pillar.get']('gitahead:lookup'))) %}
