{% set config = salt['grains.filter_by']({
  'Windows': {
    'package': 'androidstudio',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'homebrew/cask/android-studio',
    'installer': 'pkg.installed'
  },
  'Arch': {
    'package': 'android-studio',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi android-studio'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S android-studio --noconfirm'}
      ]
    },
  },
}, grain='os_family', merge=salt['grains.filter_by']({
  'Ubuntu': {
    'package': 'android-studio',
    'installer': 'test.nop',
  },
}, grain='os', merge=salt['pillar.get']('android-studio:lookup'))) %}
