{% set vscode = salt['grains.filter_by']({
  'Windows': {
    'package': 'microsoft-teams',
    'installer': 'chocolatey.installed',
  },
  'MacOS': {
    'package': 'homebrew/cask/microsoft-teams',
    'installer': 'pkg.installed',
  },
  'Arch': {
    'package': 'teams',
    'installer': {
      'cmd.run': [
        {'unless': 'pacman -Qi teams'},
        {'runas': 'aur-builder'},
        {'name': 'yay -S teams --noconfirm'}
      ]
    },
  },
  'Debian': {
    'package': 'teams',
    'installer': 'pkg.installed',
    'channel': 'stable',
  },
}, merge=salt['pillar.get']('teams:lookup')) %}
