{% set kubetools = salt['grains.filter_by']({
  'Windows': {
    'installer': 'chocolatey.installed',
    'pkgs': [
      'kubernetes-cli',
      'minikube'
      ]
  },
  'MacOS': {
    'installer': {
      'pkg.installed': [
        {
          'pkgs': [
            'kubectl',
            'minikube'
          ]
        },
      ],
    },
  },
  'Arch': {
    'installer': {
      'pkg.installed': [
        {
          'pkgs': [
            'kubectl',
            'kubectx',
            'minikube'
          ]
        },
      ],
    },
  },
  'Debian': {
    'installer': {
      'pkgrepo.managed': [{
        'name': 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /',
        'file': '/etc/apt/sources.list.d/kubernetes.list',
        'key_url': 'https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key',
        'aptkey': False
      }],
      'pkg.installed': [
        {
          'pkgs': [
            'kubectl',
          ]
        },
      ],
      'cmd.run': [
        {'unless': 'which kubectx'},
        {'name': 'snap install kubectx --classic'}
      ],
    },
  },
}, merge=salt['pillar.get']('kubetools:lookup')) %}
