{% set dotnet = salt['grains.filter_by']({
    'Windows': {
        'package': 'dotnetcore-sdk',
        'installer': 'chocolatey.installed'
    },
    'MacOS': {
      'package': 'Caskroom/cask/dotnet-sdk',
      'installer': {
        'pkg.installed': [
          {
            'pkgs': [
              'Caskroom/cask/dotnet-sdk'
            ],
          },
          {
            'require': [
              {'sls': 'app/magic-sudo'}
            ]
          },
        ]
      }
    },
    'Arch': {
      'package': 'dotnet-sdk',
      'installer': 'pkg.installed'
    },
}, merge=salt['pillar.get']('dotnet:lookup')) %}
