{% set dotnet = salt['grains.filter_by']({
  'Windows': {
    'package': 'dotnetcore-sdk',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'homebrew/cask/dotnet-sdk',
    'installer': {
      'pkg.installed': [
        {
          'pkgs': [
            'homebrew/cask/dotnet-sdk'
          ],
        },
        {
          'require': [
            {'sls': 'app/magic-sudo'}
          ]
        },
      ]
    }
  },
  'Arch': {
    'package': 'dotnet-sdk',
    'installer': {
      'pkg.installed': [
        {
          'pkgs': [
            'dotnet-sdk',
            'aspnet-targeting-pack',
            'aspnet-runtime',
            'dotnet-sdk-6.0',
            'aspnet-targeting-pack-6.0',
            'aspnet-runtime-6.0',
          ],
        },
      ]
    }
  },
}, grain='os_family', merge=salt['grains.filter_by']({
  'Ubuntu': {
    'package': 'dotnet-sdk',
    'installer': {
      'pkg.installed': [
        {
          'refresh': True,
          'pkgs': [
            'dotnet-sdk-8.0',
            'aspnetcore-runtime-8.0',
            'dotnet-targeting-pack-8.0',
            'dotnet-sdk-6.0',
            'aspnetcore-runtime-6.0',
            'dotnet-targeting-pack-6.0',
          ],
        },
      ]
    }
  },
}, grain='os', merge=salt['pillar.get']('dotnet:lookup'))) %}
