{% set awscli = salt['grains.filter_by']({
  'Windows': {
    'package': 'awscli',
    'installer': 'chocolatey.installed'
  },
  'MacOS': {
    'package': 'awscli',
    'installer': 'pkg.installed'
  },
  'Arch': {
    'package': 'aws-cli-v2',
    'installer': 'pkg.installed'
  },
  'Debian': {
    'package': 'awscli',
    'installer': 'pkg.installed'
  },
}, merge=salt['pillar.get']('awscli:lookup')) %}
