{% set vscode = salt['grains.filter_by']({
    'Windows': {
      'package': 'vscode',
      'installer': 'chocolatey.installed',
      'binary': 'code',
    },
    'MacOS': {
      'package': 'caskroom/cask/visual-studio-code',
      'installer': 'pkg.installed',
      'binary': '/usr/local/bin/code',
    },
    'Arch': {
      'package': 'visual-studio-code-bin',
      'installer': {
        'cmd.run': [
          {'unless': 'pacman -Qi visual-studio-code-bin'},
          {'runas': 'aur-builder'},
          {'name': 'yay -S visual-studio-code-bin --noconfirm'}
        ]
      },
      'binary': '/usr/bin/code',
    },
}, merge=salt['pillar.get']('visual-studio-code:lookup')) %}
