{% set vscode = salt['grains.filter_by']({
    'Windows': {
        'package': 'vscode',
        'installer': 'chocolatey.installed',
        'binary': 'code',
    },
    'MacOS': {
        'package': 'Caskroom/cask/visual-studio-code',
        'installer': 'pkg.installed',
        'binary': '/usr/local/bin/code',
    },
    'Arch': {
        'package': 'visual-studio-code',
        'installer': {
          'cmd.run': [
            {'unless': 'pacman -Qi visual-studio-code'},
            {'runas': 'aur-builder'},
            {'name': 'yay -S visual-studio-code --noconfirm'}
          ]
        },
        'binary': '/usr/bin/code',
    },
}, merge=salt['pillar.get']('visual-studio-code:lookup')) %}
