{% set tightvncviewer = salt['grains.filter_by']({
  'Windows': {
    'package': 'tightvnc',
      'installer': {
        'chocolatey.installed': [
          {'install_args': 'ADDLOCAL=Viewer'}
        ]
      }
  },
  'Debian': {
    'package': 'xtightvncviewer',
    'installer': 'pkg.installed',
  },
  'default': {
    'package': 'No tightvncviewer target for this system',
    'installer': 'test.nop'
  }
}, merge=salt['pillar.get']('tighvncviewer:lookup'), default='default') %}
