{% set appimagelauncher = salt['grains.filter_by']({
  'Windows': {
    'package': 'No appimagelauncher target for this system',
    'installer': 'test.nop'
  },
  'MacOS': {
    'package': 'No appimagelauncher target for this system',
    'installer': 'test.nop'
  },
  'Arch': {
    'package': 'This needs to be built and tested',
    'installer': 'test.nop'
  },
  'Debian': {
    'package': 'appimagelauncher',
    'installer': 'pkg.installed'
  },
}, merge=salt['pillar.get']('appimagelauncher:lookup')) %}
