{% set docker = salt['grains.filter_by']({
  'Windows': {
    'package': 'docker-desktop',
    'installer': 'chocolatey.installed'
  },
  'default': {
    'package': 'docker',
    'installer': {
        'pkg.installed': [
          {
            'pkgs': [
              'docker',
              'docker-compose'
            ],
          },
        ]
      }
  },
}, grain="os_family", default='default', merge=salt['grains.filter_by']({
  'Ubuntu': {
    "notes": "Use the formula instead of manual package management",
    'package': 'include',
    'installer': [
      "docker",
    ]
  },
}, grain='os', merge=salt['pillar.get']('docker:lookup'))) %}
