{% set config = salt['grains.filter_by']({
  'Windows': {
    'package': 'docker-desktop',
    'installer': {
      'docker-desktop': 'chocolatey.installed',
      'docker-compose': 'chocolatey.installed',
    },
  },
  'MacOS': {
    'installer': {
      'homebrew/cask/docker': 'pkg.installed',
      'docker-compose': 'pkg.installed',
    },
  },
  'Arch': {
    'installer': {
      'docker': 'pkg.installed',
      'docker-compose': 'pkg.installed',
    },
  },
  'Debian': {
    'installer': {
      'docker-ce': {
        'cmd.run': [
          {'unless': 'dpkg -s docker-ce'},
          {'name': 'curl -fsSL https://get.docker.com | sh'}
        ]
      },
      'docker-compose': 'pkg.installed',
    },
  },
}, merge=salt['pillar.get']('docker:lookup')) %}
