{% set ntp = salt['grains.filter_by']({
  'Windows': {
    'package': 'builtin',
    'installer': 'test.nop'
  },
  'MacOS': {
    'package': 'builtin',
    'installer': 'test.nop'
  },
  'Arch': {
    'package': 'ntp',
    'installer': 'pkg.installed',
    'daemon': 'ntpd'
  },
  'Debian': {
    'package': 'chrony',
    'installer': 'pkg.installed',
    'daemon': 'chronyd'
  }
}, merge=salt['pillar.get']('ntp:lookup')) %}
